body {
    background-color: black;
}


#peanut-butter-jelly-time {
    background-color: darkorchid;
    width: auto;
    height: auto;
    padding: 20px 10px ;
    margin: 10px;
    border-radius: .5em .5em;
    /*border radius rounds out the border*/
    /*top-bottom 20px and left-right 10px*/
    /*top right bottom left*/
}

.recipe-container {
    border: 2px solid gainsboro; /* size, style, color */
    width: 50%;
    margin: 30px auto;
}
/*0 is top and bottom, auto is left and right*/
/*margin is the size of the block and not the elements inside*/