.jumbotron {
    background-image: url("/../img/pizza.png");
    background-repeat: repeat, repeat;
    /*background-position: center;*/
    margin: 20px 0;
}

.jumbotron h1 {
    text-align: center;
    background-color: white;
    opacity: 60%;
}

.badge {
    margin: 0 5px;
    align-items: center;
    border-radius: 1em;
}


.card {
margin: 20px 0;
}

.tab-content {
    margin: 0 20px;
}