
body {
    background-color: #cecdcd;
    color: #0081a7;
}


hr {
    width: 100%;
   background-color: #0081a7;
    height: 5px;
}


@media only screen and (max-width: 752px) {
    h5 {
        text-decoration: underline;
    }
}