
body {
    background-color: #F5F5EF;
    color: #133d88;
}


hr {
    width: 100%;
   background-color: #B69D74;
    height: 5px;
}

.text-color-scheme {
    color: #133d88;
    background-color: transparent;
    text-decoration: none;
}

a.hover-color-scheme:hover {
    color: #B69D74;
}


@media only screen and (max-width: 752px) {
    h5 {
        text-decoration: underline;
    }
}